.HeaderSection{

    background-color: #fff;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
color: #3d4152;
font-weight: 500;
font-size: 16px;
line-height: 1.22;

.main-logo{
    width: 70px;
}
    .search-icon{
        font-size: 18px;
    }
 .headerlinksIcon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: inline-block;
 }
 .nav-link{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 550;
    display: inline-block;
 }
 .nav-link:hover {
    color: #fc8019;
   
g{
    fill: #fc8019;
}
    
 }
}